<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Khaleesi</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <link rel="stylesheet" href="/webjars/AdminLTE/2.4.2/dist/css/AdminLTE.min.css"/>
    <link rel="stylesheet" href="/webjars/AdminLTE/2.4.2/dist/css/skins/_all-skins.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/5.0.2/web-fonts-with-css/css/fontawesome-all.min.css"/>
    <link rel="stylesheet" href="/webjars/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/dist/css/bootstrap.min.css" />
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" />
</head>
<body class="skin-yellow" data-spy="scroll" data-target="#scrollspy">
    <div id="main"></div>
    <script src="/common.js"></script>
    <script src="/bundle.js"></script>
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="/webjars/AdminLTE/2.4.2/dist/js/adminlte.min.js"></script>
</body>
</html>