<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Khaleesi</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/webjars/AdminLTE/2.4.2/dist/css/AdminLTE.min.css"/>
</head>
<body>
    <h1 th:text="${msg}"></h1>
    <div id="wrap"></div>

    <script src="/common.js"></script>
    <script src="/bundle.js"></script>
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="/webjars/AdminLTE/2.4.2/dist/js/adminlte.min.js"></script>
</body>
</html>